[submodule "core-java-spring"]
	path = core-java-spring
	url = https://github.com/eclipse-arrowhead/core-java-spring
[submodule "ah-certgen"]
	path = ah-certgen
	url = https://github.com/jara001/ah-certgen
